@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?guzdp9');
  src:  url('fonts/icomoon.eot?guzdp9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?guzdp9') format('truetype'),
    url('fonts/icomoon.woff?guzdp9') format('woff'),
    url('fonts/icomoon.svg?guzdp9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e906";
}
.icon-ct-cart:before {
  content: "\e904";
}
.icon-user:before {
  content: "\e901";
}
.icon-padlock:before {
  content: "\e902";
}
.icon-exit:before {
  content: "\e903";
}
.icon-home:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-images:before {
  content: "\e90e";
}
.icon-bullhorn:before {
  content: "\e91a";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location:before {
  content: "\e947";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}
