body{
  margin-top: 0 !important;
}

.margins-page{
  margin-left: 10px;
  margin-right: 10px;
}

// Display flex
.flex{
  display: flex !important;
}

// Hidden
.visually-hidden{
  display: none !important;
}