:root{
  --color-primario: #faa32d;
  --color-secundario: #5a595e;
  --color-terciario: #fff;
  --color-fondo: #F8F8F8;
}

*{
  text-decoration: none !important;
}

/* .contenedor{
  margin-left: 50px;
  margin-right: 50px;
} */

.btn-primary{
  background: var(--color-primario) !important;
  border-color: var(--color-primario) !important;
}

.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
  color: var(--color-primario);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
}