:root{
  --color-primario: #faa32d;
  --color-secundario: #5a595e;
  --color-terciario: #fff;
  --color-fondo: #F8F8F8;
}

*{
  text-decoration: none !important;
}

/* .contenedor{
  margin-left: 50px;
  margin-right: 50px;
} */